:root {
  --black: #181818;
  --bluegreen: #00ae99;
  --bluegreen-darkened: #009583;
  --darkgrey: #3a3a3a;
  --lightgrey: #4e4e4e;
  --text-shadow: rgba(192, 219, 255, 0.48);
  --white: rgba(255, 255, 255, 0.8);
  --white-darkened: rgba(255, 255, 255, 0.6);
}

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
}

.col.blank,
.contact-menu {
  display: none;
}

::selection {
  color: var(--white);
  background: var(--bluegreen);
}

#over {
  z-index: 10;
  position: relative;
}

html {
  background: var(--black);
  color: var(--white);
  font-family: Arial, sans-serif;
  scroll-padding-top: 50px;
}

h1 {
  text-shadow: 0 0 80px var(--text-shadow), 0 0 32px rgba(65, 120, 255, 0.24);
  font-size: 80px;
  margin: 40px 0;
  letter-spacing: -2px;
  font-weight: 700;
}

h2 {
  text-shadow: 0 0 80px var(--text-shadow), 0 0 32px rgba(65, 120, 255, 0.24);
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 30px;
  font-weight: 800;
  letter-spacing: -1.6px;
}

h3 {
  text-shadow: 0 0 80px var(--text-shadow), 0 0 32px rgba(65, 120, 255, 0.24);
  font-size: 25px;
  margin: 0 0 30px;
  font-weight: 600;
  letter-spacing: -1.6px;
  padding-top: 90px;
}

h4 {
  font-size: 20px;
  margin: 0 0 5px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

h5 {
  font-size: 16px;
  margin: 30px 0 5px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

p {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--white);
  text-decoration: underline;
  font-weight: 600;
}

a:hover,
a:active,
a:hover i {
  color: var(--bluegreen);
}

ul {
  margin: 10px 0 10px 25px;
}

.logo {
  height: 100px;
  width: auto;
  margin-bottom: 50px;
  max-width: 100%;
  filter: drop-shadow(30px 20px 20px var(--bluegreen));
}

.teaser {
  height: 100vh;
  padding: 0 100px;
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}

.teaser a {
  text-decoration: none;
}

.intro {
  padding-top: 100px;
  width: 45%;
}

.description {
  color: var(--white-darkened);
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 50px;
}

main {
  padding: 100px 100px 150px;
  background-color: var(--darkgrey);
}

section.portfolio,
section.skills {
  padding-top: 50px;
}

.skill-logo {
  padding: 20px;
  background-color: var(--darkgrey);
  margin: 6.25px;
}

.skill-logo:first-of-type {
  margin-left: 0;
}

.skill-logo:last-of-type {
  margin-right: 0;
}

img.skill-logo {
  width: 40px;
  height: auto;
  max-height: 40px;
}

.role {
  font-style: italic;
  margin-bottom: 30px;
}

.main-button {
  background: var(--bluegreen);
  padding: 20px 40px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--bluegreen);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-size: 14px;
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
}

.main-button:hover {
  background: var(--bluegreen);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.second-button {
  border: 1px solid var(--lightgrey);
  background: none;
  padding: 20px 40px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-size: 14px;
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
}

.second-button:hover {
  border: 1px solid var(--white);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.col {
  padding: 50px;
  background-color: var(--lightgrey);
  border-radius: 5px;
  position: relative;
}

.col a {
  position: absolute;
  bottom: 50px;
}

.year {
  padding: 7px 8px;
  background-color: var(--black);
  border-radius: 5px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
}

.tag {
  border: 1px solid var(--white);
  padding: 5px 10px;
  border-radius: 20px;
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
}

span.tag::before {
  content: "•";
  padding-right: 5px;
  font-size: 30px;
  position: relative;
  top: 6px;
}

.tags:nth-of-type(2n) {
  margin-bottom: 50px;
}

span.tag.adobe-xd::before {
  color: #ff61f6;
}

span.tag.adobe-illustrator::before {
  color: #ff9a00;
}

span.tag.adobe-indesign::before {
  color: #f36;
}

span.tag.adobe-photoshop::before {
  color: #2d9def;
}

span.tag.apexcharts::before {
  color: #008ffb;
}

span.tag.api::before {
  color: #000;
}

span.tag.css::before {
  color: #0096dc;
}

span.tag.elementor::before {
  color: #de2859;
}

span.tag.figma::before {
  color: #a259ff;
}

span.tag.frontify::before {
  color: #7f59ff;
}

span.tag.html::before {
  color: #e44d26;
}

span.tag.javascript::before {
  color: #f1e05a;
}

span.tag.klaviyo::before {
  color: #24aa68;
}

span.tag.learndash::before {
  color: #009de3;
}

span.tag.nudgify::before {
  color: #3dd7cc;
}

span.tag.php::before {
  color: #787cb4;
}

span.tag.python::before {
  color: #3572a5;
}

span.tag.reactjs::before {
  color: #7ddfff;
}

span.tag.shopify::before {
  color: #81c038;
}

span.tag.wordpress::before {
  color: #2681a1;
}

span.tag.woocommerce::before {
  color: #96588b;
}

footer {
  padding: 20px 100px 52px;
  background-color: var(--black);
}

.contact {
  float: left;
}

.contact a {
  font-size: 25px;
}

.social-media {
  float: right;
}

.social-media a {
  padding-left: 15px;
  text-decoration: none;
}

.social-media a:hover i {
  color: var(--bluegreen);
}

.social-media i {
  color: var(--lightgrey);
  font-size: 30px;
}

.tab-bar {
  margin: 30px 0 10px;
  position: sticky;
  top: -1px;
  background-color: var(--black);
  padding: 20px 0;
  z-index: 1;
  display: inline-block;
  border-radius: 5px;
}

.tab-bar-item {
  display: inline-block;
  margin: 0;
  padding: 0 30px;
  font-size: 25px;
}

.tab-bar-item a {
  margin: 0;
}

.tab-bar-item i {
  width: auto;
  padding-right: 10px;
  color: var(--white);
}

@media only screen and (max-width: 1024px) {
  .teaser {
    padding: 0 50px;
  }

  .intro {
    padding: 150px 0;
    width: 70%;
  }

  main {
    padding: 0 50px 50px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .teaser .second-button {
    display: none;
  }

  .contact-menu {
    position: fixed;
    bottom: 20px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .contact-menu i {
    padding: 10px;
    font-size: 27px;
    background: var(--black);
    border-radius: 100%;
    margin: 0 7.5px;
    filter: drop-shadow(0 10px 20px var(--black));
  }

  h1 {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 27px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 20px;
    padding-top: 60px;
  }

  .logo {
    height: 70px;
    display: block;
    margin: 0 auto 50px;
  }

  .teaser {
    padding: 0 30px;
    background-size: 100%;
    text-align: center;
    z-index: 2;
  }

  .intro {
    padding: 50px 0;
    width: 100%;
    text-align: center;
  }

  .description {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }

  main {
    padding: 0 30px 50px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .col {
    padding: 30px;
    min-width: 80%;
  }

  .col a {
    bottom: 30px;
  }

  span.tag,
  span.year {
    font-size: 12px;
  }

  .main-button {
    border: none;
    display: block;
    margin: 0 auto;
    width: 75%;
  }

  .second-button {
    margin: 15px 0 0;
    background: var(--black);
    border: none;
    width: 75%;
  }

  footer {
    padding: 30px 30px 60px;
    z-index: 99;
  }

  .contact a {
    font-size: 20px;
  }

  .tab-bar {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: sticky;
    padding: 15px;
    margin: 20px -30px 0;
    display: block;
    border-radius: 0;
    z-index: 2;
  }

  .tab-bar-item {
    padding: 0 15px;
    font-size: 20px;
  }
}

/* Github Calendar */

rect.ContributionCalendar-day[data-level="0"] {
  fill: var(--lightgrey);
}

rect.ContributionCalendar-day[data-level="1"] {
  fill: var(--bluegreen-darkened);
}

rect.ContributionCalendar-day[data-level="2"] {
  fill: var(--bluegreen);
}

rect.ContributionCalendar-day[data-level="3"] {
  fill: var(--white-darkened);
}

rect.ContributionCalendar-day[data-level="4"] {
  fill: var(--white);
}

.calendar .width-full > .float-left {
  display: none;
}

.calendar {
  border-radius: 3px;
  min-height: 243px;
  text-align: left;
  margin: 50px 0;
  max-width: 1000px;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: #aaa;
}

.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}

.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.text-small {
  font-size: 12px;
  color: #767676;
}

.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  font-size: 11px;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: var(--white);
}

.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

.monospace {
  text-align: center;
  color: #000;
}

.monospace a {
  color: #1d75ab;
  text-decoration: none;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

.left.text-muted {
  float: left;
  margin-left: 9px;
  color: #767676;
}
.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
  display: none;
}

.float-left.text-gray {
  float: left;
}
#user-activity-overview {
  display: none;
}

.day-tooltip {
  white-space: nowrap;
  position: absolute;
  z-index: 99999;
  padding: 10px;
  font-size: 12px;
  color: #959da5;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  display: none;
  pointer-events: none;
}
.day-tooltip strong {
  color: #dfe2e5;
}
.day-tooltip.is-visible {
  display: block;
}
.day-tooltip:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  margin: 0 0 0 -5px;
  content: " ";
  border-top-color: rgba(0, 0, 0, 0.85);
}

text.ContributionCalendar-label {
  fill: #ccc;
  font-size: 11px;
}
