* {
  margin: 0px;
  padding: 0px;
  border: none;
}

html {
  background: #181818;
  color: #ffffff;
  font-family: Arial, sans-serif;
  scroll-padding-top: 50px;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 80px rgba(192, 219, 255, 0.48),
    0 0 32px rgba(65, 120, 255, 0.24);
  font-size: 80px;
  margin: 40px 0;
  letter-spacing: -2px;
  font-weight: 700;
}

h2 {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 80px rgba(192, 219, 255, 0.48),
    0 0 32px rgba(65, 120, 255, 0.24);
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 30px;
  font-weight: 800;
  letter-spacing: -1.6px;
}

h3 {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 80px rgba(192, 219, 255, 0.48),
    0 0 32px rgba(65, 120, 255, 0.24);
  font-size: 25px;
  margin: 0 0 5px 0;
  font-weight: 600;
  letter-spacing: -1.6px;
  padding-top: 30px;
}

h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0 0 5px 0;
  font-weight: 600;
  letter-spacing: -0.5px;
}

p {
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

a:hover,
a:active,
a:hover i {
  color: #00ae99;
}

ul {
  margin: 10px 0 10px 25px;
}

.logo {
  height: 100px;
  width: auto;
  margin-bottom: 50px;
  max-width: 100%;
  filter: drop-shadow(30px 20px 20px #00ae99);
}

.teaser {
  padding: 0px 100px;
  min-height: 100vh;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}

.teaser a {
  text-decoration: none;
}

.intro {
  padding-top: 100px;
  width: 45%;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 50px;
}

main {
  padding: 100px 100px 150px 100px;
  background-color: rgba(255, 255, 255, 0.15);
}

section.portfolio,
section.skills {
  padding-top: 50px;
}

.skill-logo {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 6.25px;
}

.skill-logo:first-of-type {
  margin-left: 0;
}

.skill-logo:last-of-type {
  margin-right: 0;
}

img.skill-logo {
  width: 40px;
  height: auto;
  max-height: 40px;
}

.role {
  font-style: italic;
  margin-bottom: 30px;
}

/* Buttons */
.main-button {
  background: #00ae99;
  padding: 18px 30px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #00ae99;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.main-button:hover {
  background: #009583;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.second-button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  padding: 18px 30px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.second-button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/* Row */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

/* Columns */
.col {
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  margin: 12.5px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.col:first-of-type {
  margin-left: 0;
}

.col:last-of-type {
  margin-right: 0;
}

span:last-of-type {
  margin-right: 0;
}

.col.blank {
  background-color: transparent;
  width: 30%;
  height: 0px;
}

/* Tags */
.tags {
  margin-top: 30px;
}
.tag {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
}

span.tag::before {
  content: "•";
  padding-right: 5px;
  font-size: 30px;
  position: relative;
  top: 6px;
}

span.tag.adobe-xd::before {
  color: #ff61f6;
}

span.tag.adobe-illustrator::before {
  color: #ff9a00;
}

span.tag.adobe-indesign::before {
  color: #ff3366;
}

span.tag.adobe-photoshop::before {
  color: #2d9def;
}

span.tag.apexcharts::before {
  color: #008ffb;
}

span.tag.api::before {
  color: #000000;
}

span.tag.css::before {
  color: #0096dc;
}

span.tag.elementor::before {
  color: #de2859;
}

span.tag.frontify::before {
  color: #7f59ff;
}

span.tag.html::before {
  color: #e44d26;
}

span.tag.javascript::before {
  color: #f1e05a;
}

span.tag.klaviyo::before {
  color: #24aa68;
}

span.tag.learndash::before {
  color: #009de3;
}

span.tag.nudgify::before {
  color: #3dd7cc;
}

span.tag.php::before {
  color: #787cb4;
}

span.tag.python::before {
  color: #3572a5;
}

span.tag.shopify::before {
  color: #81c038;
}

span.tag.wordpress::before {
  color: #2681a1;
}

span.tag.woocommerce::before {
  color: #96588b;
}

/* Footer */
footer {
  padding: 20px 100px 52px 100px;
}

.contact {
  float: left;
}

.contact a {
  font-size: 25px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .contact a {
    font-size: 20px;
  }
}

.social-media {
  float: right;
}

.social-media a {
  padding-left: 10px;
  text-decoration: none;
}

.social-media a:hover i {
  color: #00ae99;
}

.social-media i {
  color: rgba(255, 255, 255, 0.1);
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 27px;
    margin-bottom: 0px;
  }

  h3 {
    font-size: 20px;
  }

  .logo {
    height: 70px;
    display: block;
    margin: 0 auto 50px auto;
  }

  .teaser {
    min-height: 550px;
    padding: 50px 30px;
    background-size: 100%;
    text-align: center;
  }

  .intro {
    padding-top: 0px;
    width: 100%;
    text-align: center;
  }

  .description {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
  }

  main {
    padding: 0 30px 50px 30px;
  }

  /* Columns */
  .col {
    margin: 20px 0 0 0;
    padding: 30px;
    min-width: 80%;
  }

  .col.blank {
    display: none;
  }

  /* Buttons */
  .main-button {
    border: none;
    display: block;
    margin: 0 auto;
  }
  .second-button {
    margin: 10px 0 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
  }

  /* Footer */
  footer {
    padding: 30px 30px 60px 30px;
  }
}

/* Tab bar */
.tab-bar {
  margin: 30px 0 10px 0;
  position: sticky;
  top: 0;
  background-color: #181818;
  padding: 20px 0 20px 0;
  z-index: 1;
  display: inline-block;
}

.tab-bar-item {
  display: inline-block;
  margin: 0;
  padding: 0 30px;
  font-size: 25px;
}

.tab-bar-item a {
  font-weight: 600;
  margin: 0;
}

.tab-bar-item i {
  width: auto;
  padding-right: 10px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .tab-bar {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: sticky;
    padding: 15px;
    margin: 20px -30px;
    display: block;
  }

  .tab-bar-item {
    padding: 0 15px;
    font-size: 20px;
  }
}
